.jumbotron  {
    text-align: center;
}

.row {
    height: 200px;
}

form {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px lightgrey solid;
}


.container {
    text-align: center;
}

label {
    margin: 10px;
}


